/* NAVBAR */

#navbar{
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  justify-content: space-between;
  min-height: 8vh;
}

/* GENERIC BUTTON */

#button{
  background-color: crimson;
  border-color: crimson;
  color: white;
}

#button:focus {
  box-shadow: 0 0 0 1px rgba(220, 20, 60, 0.671), 0 0 0 0.2rem rgba(220, 20, 60, 0.671) !important;
}

/* LOGIN BUTTON */

#login{
  align-self: center;
  background-color: crimson;
  border-color: crimson;
  color: white;
}

#login:focus {
  box-shadow: 0 0 0 1px rgba(220, 20, 60, 0.671), 0 0 0 0.2rem rgba(220, 20, 60, 0.671) !important;
}

/* GENERIC OUTLINED BUTTON */

#btn-outlined{
  background-color: transparent;
  border-color: crimson;
  color: crimson
}

#btn-outlined:hover{
  background-color: crimson;
  color: white
}

#btn-outlined:focus{
  box-shadow: 0 0 0 1px rgba(220, 20, 60, 0.671), 0 0 0 0.2rem rgba(220, 20, 60, 0.671) !important;
}

/* GENERIC IMAGE */

#logo{
  color: crimson;
}

/* MAIN DIVS */

#container{
  min-height: 92vh;
}

#main{
  min-height: 92vh;
}

#side{
  padding-top: 20px;
  min-height: 92vh;
}

/* QUESTION CARD */

#question-card{
  width: 100%;
  min-height: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left-color: crimson;
  border-left-width: 5px;
}

/* SURVEY CARD */

#survey-card{
  width: 100%;
  height: fit-content;
  border-top-color: crimson;
  border-top-width: 5px;
  margin-top: 20px;
}

/* USERNAME FIELD CARD */

#username-card{
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left-color: crimson;
  border-left-width: 5px;
}

/* UP BUTTON */

#up{
  margin-right: 10px;
}

/* SURVEY TITLE */

#title{
  margin-bottom: 10px;
}

#question{
  margin-bottom: 10px;
}

/* MANDATORY  */

.mandatory::after{
  content: " *";
  color: crimson;
}

/* SURVEY ITEM LIST */

#survey-item{
  border: crimson;
  background-color: whitesmoke;
  color: crimson
}

#survey-item.active{
  border: white;
  background-color: crimson;
  color: white
}

#badge{
  background-color: white;
}

/* LEFT BUTTON */

#left{
  max-width: fit-content;
}

/* RIGHT BUTTON */

#right{
  max-width: fit-content;
}

/* APPEND INPUT GROUP */

#append{
  background-color: whitesmoke;
  color: grey;
}

/* CUSTOM CHECKBOX */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background-color: crimson !important;
  border-color: rgb(173, 18, 49) !important;
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(224, 22, 63, 0.521) !important;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(224, 22, 63, 0.521) !important;
  border-color: rgb(173, 18, 49) !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(173, 18, 49) !important;
  border-color: rgb(173, 18, 49) !important;
}

/* CUSTOM RADIO */

.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
  background-color: crimson !important;
  border-color: rgb(173, 18, 49) !important;
}
.custom-radio .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(224, 22, 63, 0.521) !important;
}
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(224, 22, 63, 0.521) !important;
  border-color: rgb(173, 18, 49) !important;
}
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(173, 18, 49) !important;
  border-color: rgb(173, 18, 49) !important;
}

/* CUSTOM SWITCH */

.custom-switch .custom-control-input:checked ~ .custom-control-label::before{
  background-color: crimson !important;
  border-color: rgb(173, 18, 49) !important;
}
.custom-switch .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(224, 22, 63, 0.521) !important;
}
.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(224, 22, 63, 0.521) !important;
  border-color: rgb(173, 18, 49) !important;
}
.custom-switch .custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(173, 18, 49) !important;
  border-color: rgb(173, 18, 49) !important;
}

.toast{
  width: fit-content;
}